version: '3.8'

services:
  frontend:
    build: .
    ports:
      - "80:80"
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - "8000:8000"
    environment:
      - DB_PATH=/app/data/space_weather.db
    volumes:
      # Persist DB
      - backend_data:/app/data
      # Persist Images
      - backend_images:/app/images
    restart: unless-stopped

volumes:
  backend_data:
  backend_images:
